@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

:root {
    --off-black: #04050c;
    --dark-grey: #0f1016;
    --grey: #444;
    --white-yellow: #e0e0dd;
    --rose: #d34e81;
    --light-rose: #ec80aa;
    --highlight: #b3245b;
}


* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    box-sizing: border-box;
}

body {
    background: rgb(14, 14, 14);
    color: var(--white-yellow);
}

/* HEADER */

header {
    background: var(--dark-grey);
    border-bottom: 3px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 5%;
}

.site-logo {
    position: relative;
    text-align: center;
    min-width: 4.5em;
    color: var(--light-rose);
    left: 0px;
    transition: left 200ms;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

#nav-logo {
    color: var(--light-rose);
    font-weight: bold;
    font-size: 1.85em;
    text-decoration: none;
    z-index: 9999;
}

#nav-logo.timid {
    opacity: 0;
    transform: translateX(-25rem) translateY(50rem) rotate(-1900deg);
    transition: opacity 10s ease-out, transform 2.4s ease-out;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem;
    height: 3.2rem;
    /* background: green; */
}

.nav-item {
    padding: 1px;
    margin: 1px;
}

.nav-icons {
    display: flex;
    justify-content: space-around;
    /* min-width: 6em; */
}

.nav-icon {
    padding: 1px;
    filter: invert(94%) sepia(12%) saturate(279%) hue-rotate(5deg) brightness(88%) contrast(93%);
    transition: all 200ms;
}
.nav-icon:hover {
    filter: invert(48%) sepia(15%) saturate(4138%) hue-rotate(300deg) brightness(87%) contrast(89%);
}
.color-input-container {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--highlight);
    width: 5rem;
}

#root-highlight-color-input {
    position: absolute;
    left: -4px;
    top: -2px;
    font-size: 18px;
    font-weight: 600;
    padding: 0.1em 0.15em;
    padding-left: 1.0em;
    width: 5em;
    height: 1.1em;
    text-justify: center;
    border: none;
    border-radius: 4px;
    background: rgba(148, 148, 148, 0.137);
    color: var(--highlight);
}
#root-highlight-color-input:focus {
    outline: none;
}

/* nav links */
.top-nav a {
    position: relative;
    text-decoration: none;
    color: var(--white-yellow);
    font-weight: bold;
    font-size: 1.4rem;
    transition: color 200ms;
}
.top-nav a:after {
    position: absolute;
    opacity: 1;
    width: 0%;
    height: 3px;
    content: '';
    background: var(--rose);
    left: 0px;
    bottom: -3px;
    transition: all 180ms;
}
.top-nav a:hover:after {
    width: 100%;
    opacity: 1;
}

.top-nav .nav-icon {
    padding: 1px;
    margin: 0 5px;
    height: 30px;
    width: auto;
}


/* SECTION HEADER */

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60em;
    width: 100%;
}

.section-header {
    background: rgba(0, 0, 0, 0.562);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
}

.section-header .led-matrix-display > div {
    padding: 4px;
}

.section-header img {
    height: 15rem;
}

.section-header div {
    font-size: 2rem;
}

/* PROJECTS SECTION */

.projects-section { /* project list */
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}

.sort-panel {
    display: flex;
    padding: 1rem;
}
.sort-panel button {
    background: #d4d4d3;
    padding: 0.3rem 0.6rem;
    font-weight: 600;
    font-size: 15px;
    margin: 0.5rem 0.2rem;
    border: 2px solid rgb(83, 83, 83);
    border: none;
    border-radius: 4px;
    opacity: 0.9;
}
.sort-panel button:hover{
    cursor: pointer;
    opacity: 1;
}
.sort-panel button:active{
    opacity: 0.7;
}

.sort-panel button.selected {
    background: rgb(179, 36, 91);
    background: var(--highlight);
    color: white;
}

#project-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* PROJECT ITEMS */

.project-item {
    position: relative;
    /* display: flex;
    justify-content: space-between; */
    overflow: hidden;
    display: grid;
    grid-template-columns: 55% 45%;
    width: 47%;
    min-height: 16rem;
    text-decoration: none;
    color: var(--off-black);
    margin: 0.5em;
    background: antiquewhite;
    background: yellow;
    border-radius: 8px;
    outline: 2px solid #faebd700;
    opacity: 0;
    cursor: pointer;
    transform: translateY(30px);
    transition: opacity 0.75s ease,
                transform 0.5s ease;
}
.project-item:hover {
    /* transform: scale(110%); */
    /* transform: translateX(10px); */
    /* left: 20px; */
}

.project-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
}

.project-title {
    position: relative;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.2em 1em;
    padding: 0 0.5em;
    color: var(--off-black);
    left: 0px;
}
.page-link {
    text-decoration: none;
}

.project-item:hover .project-title {
    color: var(--rose);
    /* left: 5px; */
}

.project-description-container {
    height: 50%;
    padding: 0.4em;
}

.project-description {
    font-size: 0.9em;
}

.project-tags {
    justify-self: flex-end;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    font-size: 0.9em;
    font-weight: bold;
    width: fit-content;
}
.project-tags * {
    background: var(--highlight);
    border-radius: 1rem;
    text-decoration: none;
    border: none;
    padding: 2px 0.4rem;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
}
.project-tags *:hover {
    opacity: 80%;
}
.project-tags *:active {
    opacity: 100%;
}


.project-item .image-container { /* project image */
    
}

.project-image {
    border: 0px solid var(--rose);
    height: auto;
    outline: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* TEsT */

.test {
    position: relative;
    width: 250px;
    height: 125px;
    background: rgb(32, 32, 32);
    margin: 1rem;
    border: none;
    border-radius: 15px;
    display: none;
}
.test .border {
    position: absolute;
    border: 2px solid rgb(255, 255, 164);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: none;
    box-shadow: 
                0 0 2px 1.5px rgba(255, 255, 0, 0.479),
                inset 0 0 2px 1.5px rgba(255, 255, 0, 0.479),
                0 0 .5px .5px rgba(9, 255, 0, 0.514),
                inset 0 0 .9px .9px rgba(9, 255, 0, 0.514),
                0 0 5px 5px rgba(255, 255, 0, 0.171),
                0 0 10px 15px rgba(255, 255, 0, 0.048);
}
.test h2 {
    padding: 1rem;
}
