@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

:root {
    --off-black: #04050c;
    --dark-grey: #0f1016;
    --grey: #444;
    --white-yellow: #e0e0dd;
    --rose: #d34e81;
    --light-rose: #dbc921;
    --highlight: #b28;
}


* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    box-sizing: border-box;
}

body {
    background: rgb(14, 14, 14);
    color: var(--white-yellow);
}
body section {
    min-height: 50rem;
}

/* HEADER */

header {
    background: var(--dark-grey);
    border-bottom: 3px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 5%;
}

.site-logo {
    position: relative;
    text-align: center;
    min-width: 4.5em;
    color: var(--light-rose);
    left: 0px;
    transition: left 200ms;
    display: flex;
    align-items: center;
    gap: 0.7rem;;
}

#nav-logo {
    color: var(--light-rose);
    font-weight: bold;
    font-size: 1.85em;
    letter-spacing: 0.07rem;
    text-decoration: none;
    z-index: 9999;
    text-shadow: #fff5 2px 1px 10px;
    cursor: pointer;
}

#nav-logo.timid {
    opacity: 0;
    transform: translateX(-45rem) translateY(60rem) rotate(-1900deg);
    transition: opacity 6s ease-out, transform 2.4s ease-out;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem;
    height: 3.2rem;
    /* background: green; */
}

.nav-item {
    padding: 1px;
    margin: 1px;
}

.nav-icons {
    display: flex;
    justify-content: space-around;
}

.icon-external-link {
    transition: all 200ms;
    padding: 0;
}
.icon-external-link path {
    fill: rgba(255, 255, 255, 0.845);
}
.icon-external-link:hover path {
    fill: var(--highlight);
}

.color-input-container {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--highlight);
    width: 5rem;
    font-family: sans-serif;
}
.color-input-container > div {
    transform: translateY(-2px);
}

#root-highlight-color-input {
    position: absolute;
    left: -4px;
    top: -2px;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    padding: 0.1em 0.15em;
    padding-bottom: 1px;
    padding-left: 1.0em;
    width: 5em;
    height: 1.2em;
    text-justify: center;
    border: none;
    border-radius: 4px;
    background: rgba(148, 148, 148, 0.137);
    color: var(--highlight);
}
#root-highlight-color-input:focus {
    outline: none;
}

/* nav links */
.top-nav .nav-item a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.845);
    font-weight: bold;
    font-size: 1.3rem;
    transition: color 200ms;
}
.top-nav a:after {
    position: absolute;
    opacity: 1;
    width: 0%;
    height: 3px;
    content: '';
    background: var(--highlight);
    left: 0px;
    bottom: -3px;
    transition: all 180ms;
}
.top-nav a:hover:after {
    width: 100%;
    opacity: 1;
}

.top-nav .nav-icon {
    padding: 1px;
    margin: 0 5px;
    height: 30px;
    width: auto;
}



/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    background: #ffffff15;
    margin-top: 7rem;
    padding: 1rem;
}
