

/* SECTION HEADER */

.page-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 60em;
    width: 100%;
}

.section-header {
    background: rgba(0, 0, 0, 0.562);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
}

.section-header img {
    height: 7rem;
    width: 15rem;
    min-width: 15rem; /* prevents from shrinking when window gets narrow */
    object-fit: cover;
}


/* TERMINAL EFFECT */

.terminal-window {
    display: flex;
    justify-content: left;
    width: 35rem;
    padding: 0 1rem;
    border-radius: 6px;
    outline: 1px solid #fff5;
}
.termina-window * {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.terminal-container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    /* padding-top: 0.4rem; */
}
.terminal-container .squiggly {
    font-size: 38px;
    font-weight: 600;
    color: rgb(25, 221, 247);
    transform: translateY(-2px);
}
.terminal-container .cursor {
    width: 0.3rem;
    height: 1.8rem;
    background: rgba(25, 221, 247, 0.67);
}

.terminal {
    height: 3rem;
    font-weight: 500;
    font-size: 2rem;
    transform: translateY(4px);
}

.terminal-window { /* terminal effect */
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.5), black 150%);
    height: 100%;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    position: relative;
}

.terminal-container::after { /* faint terminal lines */
    /* pointer-events: none; */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(0deg,
            rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15) 1px,
            transparent 1px,
            transparent 2px);
}

::selection {
    background: #0080FF;
    text-shadow: none;
}

/* PROJECTS SECTION */

.projects-section { /* project list */
    margin: 0.8rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
}

.sort-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.sort-buttons {
    display: flex;
    padding: 0 1rem;
}
.sort-buttons button {
    background: #d4d4d3;
    padding: 0.3rem 0.6rem;
    font-weight: 600;
    font-size: 15px;
    margin: 0.5rem 0.2rem;
    border: 2px solid rgb(83, 83, 83);
    border: none;
    border-radius: 4px;
    opacity: 0.9;
}
.sort-buttons button:hover{
    cursor: pointer;
    opacity: 1;
}
.sort-buttons button:active{
    opacity: 0.7;
}

.sort-buttons button.selected {
    background: rgb(179, 36, 91);
    background: var(--highlight);
    color: white;
}

#project-items-container { /* project items container */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 1.5rem;
}

.selected-tags {
    margin-bottom: 0.8rem;
}

